.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  color: #3c5d6b;

}
.svg-size{
  width: 40px;
  cursor: pointer;
  vertical-align: middle;
}
.svg-cross{
  width: 20px;
  margin-right: 25px;
  cursor: pointer;
  vertical-align: middle;
}
.ProductContainer{
  margin: auto;
  max-width: 500px;
}
.inp-box{
  width: 25px;
}

.cart-header{
  background: #faf9ff;
  display: grid;
    width: 200px;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
}

.cart-header img{
  height: 100%;
  grid-row: 1/3;
  grid-column: 2/2;
}

.miniCart{
  background: #b2d4dd;
  color: #3c5c67;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
  position: absolute;
  max-width: 300px;
  width: 100%;
}

.miniCart_products_wrapper{
  padding: 15px;
  transition: .15s all cubic-bezier(.4,0,.2,1);
  border-top: 1px solid #9bbdc6;
  font-weight: 500;
}

.miniCart_products{
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  align-items: center;
}
.miniCart_products .quantity{
  grid-column: 3/4;
  grid-row: 1/3;
}
.miniCart_products img{
  grid-row: 1/3;
}
